p1{
color :#8E44AD
}
p2{
color :#1A5276
}
p3{
color :#3498DB 
}
p4{
color :#2ECC71 
}
p5{
color :#F4D03F 
}
p6{
color :#E67E22
}
p7{
color :#CB4335 
}
h1 {
color :#F7F9F9 
}
h2 {
color :#F7F9F9 
}
h3 {
color :#F7F9F9 
}
h4 {
color :#F7F9F9 
}
h5 {
color :#F7F9F9 
}
h6 {
color :#F7F9F9 
}

